.DS_Store
node_modules/
bower_components/
examples/
projects/weather-journal-app/node_modules
projects/weather-journal-app/web_api
projects/weather-journal-app/commentsOnlyJS
projects/weather-journal-app/website/.env
