@import "img.css";
@import "font.css";

.container{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 250px 1fr 250px 600px;
    grid-template-areas:
    "header header header header header"
    "nav article article article ads"
    "nav card1 card2 card3 ads"
    "footer footer footer footer footer";
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin: 30px;
}

#box{
  background: #8080801f;
  padding:10px 10px 10px 10px;
  }

.nav{
    grid-area: nav;  
}

.article{
    grid-area: article;  
}

.header{
    grid-area: header;  
}

.footer{
    grid-area: footer;  
}

.ads{
    grid-area: ads;  
}

.card{
    background: #d5d8da1f;
    font-size: 14px;
    padding:10px 10px 10px 10px;
}

.card1{
    grid-area: card1;
}

.card2{
    grid-area: card2;
}

.card3{
    grid-area: card3;
}

@media all and (max-width: 600px) {
    .container{
        display:flex;
        flex-direction: column;
  }
}

button {
    color: rgb(75, 160, 200);
    background-color: white;
    border-radius: 3px;
    border: 1px solid;
    padding: 10px;
    
}

button:hover {
    color: white;
    background-color: rgb(75, 160, 200);
    cursor: all-scroll;
}